# Sublime project files
*.sublime*

# Compiled python files
*.pyc

# Virtualenv directory
pyenv*

# Ignore cached directories
__pycache__

# Egg info directories
*.egg-info/

# Build directory
build/

# Dist directory
dist/
